<div class="sprinkle-container">
	<div class="sprinkle-result">
		
		<span class="sprinkle-left">
			&nbsp;
			{{word.left}}
		</span>
		<span class="sprinkle-pivot">
			<div class="sprinkle-center-line-top"></div>
			<div class="sprinkle-center-line-center"></div>
			<div class="sprinkle-center-line-bottom"></div>	
			{{word.pivot}}
		</span>
		<span class="sprinkle-right">
			{{word.right}}
		</span>
	</div>
	<div class="sprinkle-control-bar">
		<div class="sprinkle-control-bar-left">
			<div class="sprinkle-control-btn" ng-click="rewind()"><i class="fa fa-refresh"></i></div>
			<div class="sprinkle-control-btn" ng-if="running" ng-click="pause()"><i class="fa fa-pause"></i></div>
			<div class="sprinkle-control-btn" ng-if="!running" ng-click="start()"><i class="fa fa-play"></i></div>
		</div>
		<div class="sprinkle-control-bar-right">
			<div class="sprinkle-control-btn" ng-click="decreaseSpeed()"><i class="fa fa-minus"></i></div>
			<div class="sprinkle-control-wpm">{{wpm}} wpm </div>
			<div class="sprinkle-control-btn" ng-click="increaseSpeed()"><i class="fa fa-plus"></i></div>
		</div>
	</div>
<br />
<br />
<br />

</div>
