<div class="spray-container">
	<div class="spray-result">
		<div class="sprinkle-center-line"></div>
		<span class="spray-left">
			&nbsp;
			{{word.left}}
		</span>
		<span class="spray-pivot">
			{{word.pivot}}
		</span>
		<span class="spray-right">
			{{word.right}}
		</span>
	</div>
	<div class="sprinkle-control-bar">
		<div class="sprinkle-control-bar-left">
			<div class="sprinkle-control-btn" ng-click="rewind()"><i class="fa fa-fast-backward"></i></div>
			<div class="sprinkle-control-btn" ng-click="stop()"><i class="fa fa-stop"></i></div>
			<div class="sprinkle-control-btn" ng-click="pause()"><i class="fa fa-pause"></i></div>
			<div class="sprinkle-control-btn" ng-click="start()"><i class="fa fa-play"></i></div>
		</div>
		<div class="sprinkle-control-bar-right">
			<div class="sprinkle-control-btn" ng-click="decreaseSpeed()"><i class="fa fa-minus"></i></div>
			<div class="sprinkle-control-btn wpm-btn">{{wpm}} wpm </div>
			<div class="sprinkle-control-btn" ng-click="increaseSpeed()"><i class="fa fa-plus"></i></div>
		</div>
	</div>
<br />
<br />
<br />

</div>
