<div id="spray_container">
	<div id="guide_top">
		――――――――――<span id="notch">&#1092;</span>―――――――――――
	</div>
	<div id="spray_result">
		<span class="invisible">
			{{word.leftPadding}}
		</span>
		<span class="spray_start">
			{{word.leftHand}}
		</span>
		<span class="spray_pivot">
			{{word.pivotLetter}}
		</span>
		<span class="spray_end">
			{{word.rightHand}}
		</span>
		<span class="invisible">
			{{word.rightPadding}}
		</span>
	</div>
	<div id="guide_bottom">
		――――――――――――――――――――――
	</div>
</div>
<br />
<button ng-click="start()">Start</button>
<br />
<button ng-click="pause()">Pause</button>
<br />
<button ng-click="stop()">Stop</button>
<br />
<button ng-click="rewind()">Rewind</button>
